---
---
@import "{{ site.theme }}";

body {
  background-color: #121212 !important;
  color: #f0f0f0 !important;
}

.main-content, .container, .wrapper {
  background-color: #1e1e1e;
  color: #f0f0f0;
  border: none;
}

//39ff14
a{
  color: #bb86fc;
}
